* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg,#56877d 8.33%, #bade57 100%);
    background-size: cover;
    background-position: center;
}

header { 
    background-color:#525c5a; 
    padding: 10vh; 
}

.menu-header { 
    display: flex; 
    justify-content: end; 
    flex-wrap: wrap; 
}

.menu-header > li > a {
    color: #bade57; 
    text-decoration: none;
 }
 .menu-header > li > a:hover { 
     color: #8ccc81;
     transition: 0.8s;
 }
 .menu-header > li {
     margin-left: 20px; 
 }

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5vh;
    text-align: center;
}

.container div h1 {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.712);
    margin-top: 8rem;
}

.container div label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.container div input {
    font-size: 1.rem;
    margin-bottom: 0.5rem;
    padding: 0.3rem;
}

.container div button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    cursor: pointer;
    border-color: rgb(19, 153, 108); 
    color: white;
    transition: background-color 0.5s, border-color 0.5s, color 0.5s;
}

#result {
    margin-top: 2rem;
}

#result h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#result p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

#credit-form button {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    background-color: #525c5a;
    color: white;
    transition: background-color 0.5s, color 0.5s;
}

#credit-form button:hover {
    background-color: #56877d;
}


#result {
    margin-top: 2rem;
}

#result h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#result p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

#credit-form label{
    font-size: 1.5rem;
}

#credit-form input{
    font-size: 1.4rem;
}


@media screen and (max-width: 767px) {
    .menu-header {
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    header {
        padding: 5vh;
    }

    .container { 
        padding: 5vh;
    }

    .container > h1 { 
        font-size: 1.5rem;
    }

    .container > input {
        width: 100%;
    }

    .container > button {
        width: 100%;
    }
}
