*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    height: 100vh;
    width: 100vw;
}
header { 
    background-color: rgb(78, 135, 168); 
    padding: 10vh; 
}
.menu-header { 
    display: flex; 
    justify-content: end; 
    flex-wrap: wrap; 
}

.menu-header > li > a {
    color: white; 
    text-decoration: none;
 }
 .menu-header > li > a:hover { 
     color: rgb(81, 81, 228);
     transition: 0.8s;
 }
 .menu-header > li {
     margin-left: 20px; 
 }
 .container { 
    padding: 30vh;
    background: linear-gradient(180deg, #c0cdcf 8.33%, rgba(90, 168, 168) 100%);
    flex-wrap: wrap; 
}
.container > h1 { 
    font-size: 45px; 
    color: rgba(0, 0, 0, 0.712);
}

.container > p { 
   font-size: 40px; 
}

.container > button {
    padding: 20px; 
    border-radius: 50px;
    width: 20vw; 
    cursor: pointer;
    border-color: rgb(19, 153, 108); 
    margin: 30px; 
    
}

.container > button a {
    text-decoration: none;
    color: rgb(19, 153, 108); 
    font-size: 15px; 
}

.container > button:hover {
    background-color: rgb(90, 168, 168); 
    border-color: white; 
    transition: 0.5s;
    }

.container > button a:hover{
    color: white;
    transition: 0.8s;
}
      



#app {
    padding: 30vh; 
    background-color: rgb(226, 233, 233); 
    display: flex;
    justify-content: space-around;
}


#app > div > button { 
    padding: 20px; 
    border-radius: 50px; 
    width: 20vw;
    color: rgb(19, 153, 108);
    border-color: rgb(19, 153, 108); 
    margin: 30px; 
    font-size: 15px; 
    cursor: pointer;
}


#app > div > p{ 
    font-size: 43px; 
}

#app > div button:hover{ 
    background-color: rgb(90, 168, 168); 
    transition: 0.8s;
    border-color: white; 
}

#app div button a {
    text-decoration: none;
    color: rgb(19, 153, 108); 
    font-size: 15px; 
}

#app div button a:hover {
    color: white; 
    transition: 0.8s;
}



#app > div img { 
    width: 30vw;
    height: 60vh; 
    margin-left: 50px;
    margin-top: -70px;
}





#container { 
    padding: 30vh; 
    background-color: rgb(226, 233, 233); 
    flex-wrap: wrap; 
}

#container h2 { 
    font-size: 40px;
    margin-top: -20rem; 
    color: rgb(34, 34, 74);
    text-align: center; 
}

#container p { 
    font-size: 20px; 
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.564);
    text-align: justify; 
}

#container .text1 { 
    text-align: center; 
}

#container button {
    padding: 20px; 
    border-radius: 50px;
    width: 15vw; 
    color: rgb(50, 50, 226);
    border-color: rgb(50, 50, 226);
    margin: 60px;
    font-size: 15px; 
    
}


#container button a {
    color: blue;
    text-decoration: none;
}

#container button a:hover{
    color: white;
    transition: 0.8s;
}

#container button:hover { 
    background-color: rgb(50, 50, 226); 
    color: white; 
    border-color: white; 
    transition: 0.7s;
    cursor: pointer;
}

.line {
    margin: 0 auto; 
    width: 70%;
}

#container img { 
    margin-left: 10vw; 
    margin-top: 30px; 
    width: 50vw; 
}

#container-cofre {    
    background: linear-gradient(180deg, #0c16a364 8.33%, rgba(5, 39, 101, 0.745) 100%), url(https://www.qsbank.com.br/wp-content/uploads/2022/02/texture4-1.jpg); 
    background-position: center; 
    background-attachment: fixed;
    padding: 10%; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


#container-cofre img { 
    width: 25vw; 
    margin-top: 10rem;
    height: auto;
    flex-wrap: wrap; 
}

#container-cofre h2 { 
    
    color: white;
    font-size: 30px; 
    text-align: center;
}

#container-cofre p {
    color: white;
    text-align: center;
    margin-top: 2rem; 
    font-size: 17px;
}

footer { 
    padding: 13vh; 
    background-color: rgb(29, 28, 28); 
    text-align: center;
}

footer img { 
    width: 13.5rem; 
    height: 4rem;
    margin-top: -5rem;
    margin-bottom: 20px;
}

.footer-div {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px; 
}

.footer-div a {
    text-decoration: none;
    color: white;
}
.footer-div p {
    color: rgba(233, 222, 222, 0.523);
}

.footer-div a:hover {
    color: crimson;
    transition: 0.5s;
}
@media screen and (max-width: 1366px) {

   
    #sessao a button {
        font-size: 0.7rem;
        width: 15rem;
        padding: 0.9rem;
    }

    #app > div > a button {
        font-size: 0.7rem;
        width: 15rem;
        padding: 0.9rem;
    }

    #container a button {
        font-size: 0.7rem;
        width: 15rem;
        padding: 0.9rem;
        
    }

   #sessao h1 {
    font-size: 3rem;
   }

   #sessao p {
    font-size: 2rem;
   }

   #app div img {
    width: 20rem;
    height: auto;
   }


   #app div p {
    font-size: 2rem;
    text-align: left;
   }

   #container h2 {
    margin-top: -12rem;
   }



   #container-cofre div span {
    color: yellow;
}


   footer img {
    margin-top: -1px;
   }




}


@media screen and (max-width: 991px) {

#app div img {
    width: 18rem;
    height: auto;
    margin-right: 20px;
}

#app div {
    margin-left: -3rem;
}

#container img {
    margin-left: -0.1rem;


    
}



#container-cofre div span {
    color: yellow;
}

footer p {
    font-size: 0.6rem;
}

footer a {
    font-size: 0.6rem;
}
}

@media screen and (max-width: 767px) {
.menu-header {
    display: flex;
    justify-content: center;
}

#sessao p {
    font-size: 1.8rem;
    margin: 15px 0;
}

#container-cofre img {
    width: 16rem;
    margin-top: -0.3rem;
}




#container-cofre h2 {
    font-size: 1.8rem;
}

#container-cofre p {
    font-size: 1rem;
    margin-left: 10px;
    margin-right: -30px;
}



#container-cofre div span {
    color: yellow;
}


}

@media screen and (max-width: 700px) {

    #app {
        display: block;
        justify-content: center;
        align-items: center;
    }

    #app div p {
        text-align: left;
        margin-right: -2rem;
    } 

    #app div img {
        margin-top: 2rem;
        width: 25rem;
    }

    #container-cofre {
        display: block;
        justify-content: center;
        align-items: center;
    }

    #container-cofre img {
        width: 10rem;
        height: auto;
        margin-left: 12.2rem;
        margin-bottom: 10px;
    }

    #container-cofre div span {
        color: yellow;
    }
}

@media screen and (max-width: 480px) {

    header {
        padding: 5vh;
    }


    .menu-header li a {
        font-size: 0.5rem;
    }
    #sessao {
        display: block;
        justify-content: center;
        padding: 30vh;
    }

    #sessao h1 {
      font-size: 2rem; 
    }
    #sessao p {
        font-size: 1rem;
    }

    #sessao a button {
        width: 11rem;
        font-size: 0.6rem;
    }

    #app {
        padding: 30vh;
    }

     #app div p {
        font-size: 1.4rem; 
        margin-left: 2rem;
        text-align: left;
     }

     #app a button {
        width: 8rem;
        font-size: 0.5rem;
     }

     #app div img {
        width: 17rem;
        margin-left: -0.5rem;
     }

     #container h2{
       font-size: 20px;
     }

     #container p {
        font-size: 1rem;
        text-align: left;
     }

     #container {
        padding: 12vh;
     }


     #container img {
        margin-left: 3rem;
     }

    #container-cofre{
        padding: 15vh;
        text-align: center;
    }
    
    #container-cofre img {
       margin-left: 2rem;
    }
    #container-cofre p {
        font-size: 1.3rem;
        font-weight: 500;
    }
     
    #container-cofre h2 {
        font-size: 2rem;
    }
    #container-cofre div span {
        color: yellow;
    }

    footer {
        padding: 5vh;
    }

    footer p {
        font-size: 0.5rem;
    }

    footer a{
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 400px) {
    header {
        padding: 3.5vh;
    }

    #sessao {
        padding: 15vh;
    }


    #sessao a button {
        width: 11rem;
        padding: 0.5rem;
        margin-left: 1px;
    }

    #app {
        padding: 15vh;
    }


    #app div a button {
        width: 12.6rem;
        padding: 0.5rem;
        margin-left: 2.7rem;
    }

    #app div img {
        width: 16rem;
        margin-left: 23px;
        margin-bottom: 100px;
    }

    #container {
        padding: 15vh;
    }


    #container a button {
        width: 12.6rem;
        padding: 0.5rem;
        margin-left: -1rem;
    }

    #container .line {
        width: 120%;
        margin-left: -0.8rem;
    }

    #container img {
        width: 13rem;
        margin-left: -1.2rem;
    }

    #container-cofre {
        padding: 12vh;
    }
    #container-cofre img {
        width: 10rem;
        height: auto;
        margin-left: -0.7rem;
    }

    #container-cofre h2 {
        font-size: 1.7rem;
        margin-top: 15px;
    }


    #container-cofre p {
        font-size: 0.9rem;
        font-weight: 500;
        line-height: 1.2rem;
        text-align: left;
        margin-right: 9px;
    }

    #container-cofre div span {
        color: yellow;
    }



    footer {
        padding: 2rem;
    }

    footer img {
        width: 13.5rem;
    }

    footer a {
        font-size: 0.5rem;
    }
    footer p {
        font-size: 0.5rem;
    }
}